@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
  font-size: 4.4444444444vw;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  min-width: 20rem;
  min-height: 100%;
  line-height: normal;
  color: #DAC5A5;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: url("../img/bg-mobile.jpg") center 0/cover no-repeat, #000;
}

.gradient-text {
  background-image: linear-gradient(135deg, #DDB36C 0%, #FFCF7D 38%, #C99132 62%, #FFCC75 80%, #A6782A 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #352c33;
  border-radius: 0.5rem;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

[class*=__container] {
  margin: 0 auto;
  box-sizing: content-box;
  max-width: 100%;
  padding: 0 0.9375rem;
  max-width: 112.5rem;
}

.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 0.93rem 0 1.8rem;
  background: #050505;
  color: #fff;
  font-weight: 400;
  font-size: 0.85rem;
  text-align: center;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__logo-row {
  display: flex;
  justify-content: center;
  gap: 1.063rem;
  align-items: center;
}

.footer__logo img {
  width: 2.5rem;
}

.footer__age img {
  width: 2.25rem;
}

.footer__info {
  display: grid;
  gap: 0.75rem;
  margin: 1.625rem 0;
}

.footer__copyright a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__copyright a:hover {
  color: #FFCC75;
}

.footer__links {
  display: flex;
  gap: 1.063rem;
  justify-content: center;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #FFCC75;
}

.footer__feedback {
  text-align: center;
}

.footer__feedback a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__feedback a:hover {
  color: #FFCC75;
}

.footer__payments {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.69rem;
}

.footer__payment img {
  max-height: 2rem;
  width: auto;
  display: block;
}

.main {
  padding: 1.25rem 0 2.5rem;
}

.main__container {
  max-width: 111.25rem;
}

.main__header {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.main__offer {
  max-width: 62.225rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main__logo {
  width: 4.375rem;
}

.main__separator {
  width: 0.125rem;
  height: 1.875rem;
  background: linear-gradient(180deg, #A6782A 0%, #FFCC75 80%, #DDB36C 100%);
}

.main__brand:first-child {
  width: 6.063rem;
}

.main__brand:last-child {
  width: 4.375rem;
}

.main__brand img {
  width: 100%;
  height: auto;
  display: block;
}

.main__tagline {
  margin-top: 1.25rem;
  font-size: 1.625rem;
  max-width: 80%;
  font-weight: 600;
  line-height: 102%;
}

.main__title {
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin-top: 1rem;
  max-width: 56.5625rem;
}

.main__start {
  display: flex;
  align-items: center;
  margin-top: -55px;
  z-index: 2;
}

.main__start-btn {
  color: #000;
  font-weight: 700;
  letter-spacing: 0.01938rem;
  border-radius: 0.75rem;
  background: linear-gradient(180deg, #A6782A 0%, #FFCC75 80%, #DDB36C 100%);
  font-size: 1.1875rem;
  padding: 0.875rem 3.125rem;
  transition: opacity 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.main__start-btn:hover {
  opacity: 0.6;
}

.main__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.938rem;
  padding: 0 0 0 2rem;
}

.main__benefits {
  display: grid;
  gap: 2.12rem;
}

.main__benefits-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.main__benefits-text {
  min-width: 12.063rem;
}

.main__benefits-icon {
  min-width: 3.5rem;
  flex: 0 0 3rem;
}

.main__image {
  position: relative;
  margin: 1rem -1rem;
}

.main__age {
  color: #fff;
  text-align: center;
  font-weight: 600;
  line-height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #00ec9e 0%, #FFCC75 100%);
  flex-shrink: 0;
  margin-top: auto;
  border-radius: 0.63931rem;
  font-size: 1.125rem;
  width: 3.0625rem;
  height: 3.0625rem;
  margin-left: -3.0625rem;
}

@media (min-width: 575.98px) {
  html {
    font-size: 1.5625vw;
  }

  .footer {
    padding: 1.06rem 0;
  }

  .footer__container {
    gap: 2rem;
    justify-content: space-between;
    flex-direction: row;
  }

  .footer__links {
    margin-top: 0;
    flex: 0 0 calc(50% - 2rem);
    justify-content: flex-start;
  }

  .footer__payments {
    margin-top: 0;
    justify-content: flex-end;
    flex: 0 0 calc(50% - 2rem);
  }

  .footer__payment img {
    max-height: 1.8125rem;
  }

  .main__logo {
    max-width: 100%;
  }

  .main__tagline {
    font-size: 3.5rem;
  }

  .main__brand img {
    width: 100%;
    height: auto;
    display: block;
  }

  .main__title {
    margin-top: 3.25rem;
    font-size: 3.70188rem;
  }

  .main__start-btn {
    padding: 1.25rem 3.44rem;
    font-size: 1.9375rem;
  }

  .main__benefits-item {
    font-size: 1.75rem;
  }

  .main__benefits-icon {
    flex: 0 0 4.0625rem;
  }

  .main__image {
    margin: 8rem -1rem 0;
  }

  .main__age {
    margin-left: 0;
    border-radius: 0.75rem;
    font-size: 1.6875rem;
    width: 4.0625rem;
    height: 4.0625rem;
  }
}

@media (min-width: 743.98px) {
  .wrapper {
    background: url("../img/bg.jpg") center/cover no-repeat, #000;
  }

  .main {
    padding: 7.5rem 0;
  }

  .main__logo {
    width: 5.688rem;
  }

  .main__brand:first-child {
    width: 7.375rem;
  }

  .main__brand:last-child {
    width: 4.875rem;
  }

  .main__offer {
    text-align: left;
    align-items: stretch;
  }

  .main__tagline {
    max-width: 100%;
    font-size: 2.50606rem;
    margin-top: 7.65rem;
  }

  .main__start {
    margin-top: 2.75rem;
  }

  .main__footer {
    padding: 0;
    margin-top: 6.5rem;
  }

  .main__benefits {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main__benefits-item {
    max-width: 17.375rem;
    font-size: 1.1875rem;
  }

  .main__image {
    display: none;
  }

  .footer__info {
    display: flex;
    gap: 6.063rem;
    margin: 0;
  }
}

@media (min-width: 991.98px) {
  html {
    font-size: 1.3541666667vw;
  }
}

@media (min-width: 1199.98px) {
  html {
    font-size: 0.8333333333vw;
  }

  .footer__container {
    flex-wrap: nowrap;
  }

  .footer__links {
    justify-content: center;
    order: 0;
    margin: 0 auto;
    flex: 0 1 auto;
  }

  .footer__payments {
    margin-left: 2rem;
    order: 0;
    flex: 0 1 auto;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 1rem;
  }

  .main {
    padding: 4.375rem 0 6.063rem;
  }

  .main__offer {
    text-align: left;
    align-items: stretch;
  }

  .main__tagline {
    margin-top: 6.938rem;
    font-size: 2.875rem;
  }

  .main__title {
    font-size: 4.5rem;
    max-width: 45rem;
    margin-top: 2rem;
  }

  .main__start {
    justify-content: flex-start;
  }

  .main__start-btn {
    padding: 0.875rem 3.44rem;
    font-size: 1.25rem;
  }

  .main__footer {
    margin-top: 7.5rem;
    padding-left: 0;
  }

  .main__benefits {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    width: fit-content;
  }

  .main__benefits-item {
    font-size: 1.25rem;
    max-width: 17.375rem;
  }

  .main__benefits-text {
    max-width: 12.5rem;
  }

  .main__benefits-icon {
    flex: 0 0 3rem;
  }

  .footer {
    padding: 1.25rem 0;
  }

  .footer__container {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 100%;
    box-sizing: border-box;
  }

  .footer__logo-row {
    order: 0;
    margin-right: auto;
  }

  .footer__feedback {
    order: 1;
    text-align: left;
    margin-top: 0;
    font-size: 1rem;
  }

  .footer__copyright {
    order: 2;
    margin-top: 0;
    font-size: 1rem;
  }

  .footer__links {
    gap: 6.063rem;
    order: 3;
    margin-top: 0;
    margin-left: 0;
  }

  .footer__link {
    font-size: 1rem;
  }

  .footer__payments {
    gap: 3.75rem;
    order: 4;
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  .footer__payment img {
    max-height: 2.5rem;
  }

  .footer__logo-row {
    gap: 1.875rem;
  }
}

@media (max-width: 575.98px) {
  .footer__feedback {
    flex: 0 0 100%;
    text-align: center;
  }

  .main__benefits-item {
    padding-right: 2rem;
  }

  .main__benefits-item:last-child {
    padding-right: 3rem;
  }
}